{% extends 'habitat_pwa/base.html' %}
{% block content %}
{% load static %}

<div class="directions-body">
    <div class="directions-text">
        <p class="header-text">DIRECTIONS</p>
        <p>From Ceres, follow the R46 East in the direction of Touws River. 11km past Ceres turn right onto the Bo-Swaarmoed road. Follow this road for 19km (up the pass and past the Klondyke Cherry Farm)</p>
        <p>Don't turn right until you see a sign that says Matroosberg, 2km. Follow the dirt road to the gate straight ahead. Please drive slow on the dirt road and in the reserve</p>
        <p>Driving time and distance: From Cape Town - 2 hours, 164km (via Bainskloof)</p>
    </div>
    <div class="directions-pin">
        <br>
        <div><a href="https://maps.app.goo.gl/C72ZcTeRtXzmRweS8" target=”_blank”>Follow this pin<span class="material-symbols-outlined">location_on</span></a> </div>
    </div>
</div>
{% endblock %}