{% extends 'habitat_pwa/base.html' %}
{% block content %}
{% load static %}

<div class="directions-body">
    <div class="directions-text">
        <p class="header-text">DIRECTIONS</p>
        <p>Drive on the N1 from Cape Town towards Worchester. About 6km after you exit the Huguenot Tunnel, turn right onto the R101 towards Rawsonville.</p>
        <p>Carry on straight until the Slanghoek turn off on your left. Drive straight for 4km then turn right onto Goudiniweg towards Goudini Spa</p>
        <p>Drive straight past the entrance of Goiudini Spa and Badsberg cellar for 1.3km then turn left on the gravel road at the Skilpadfontein sign</p>
        <p>Stay on this road for about 6km till you get to the Skilpadfontein gate.</p>
    </div>
    <div class="directions-pin">
        <br>
        <div><a href="https://maps.app.goo.gl/Y5pumY88bJ3DSiHt9" target=”_blank”>Follow this pin<span class="material-symbols-outlined">location_on</span></a> </div>
</div>

{% endblock %}