{% extends 'habitat_pwa/base.html' %}
{% block content %}
{% load static %}

<div class="directions-body">
    <div class="directions-text">
        <p class="header-text">IMPORTANT INFO</p>
        <p >Gate opens at 2PM on Friday, music starts at 4PM</p>
        <p class="directions-body-alt">Only card payments accepted at the bar</p>
        <p>Traders accept cash and card</p>
        <p class="directions-body-alt">Please drive slowly on the gravel road</p>
        <p>Shuttle leaves at 14:00 on Friday from Sea Point Library, returning 17:00 on Sunday</p>
        <p class="directions-body-alt">No alcohol to be brought into the venue</p>
        <p>You can bring your own food, sealed water and soft drinks</p>
        <p class="directions-body-alt">Camping and parking is closely situated</p>
        <p>No tickets available at the door, online only</p>
        <p class="directions-body-alt">Please drive slowly on the gravel road</p>
        <p>Be mindful of each other, the venue and the nature within it</p>
        <p class="directions-body-alt">Leave no trace</p>
    </div>
</div>

{% endblock %}
